@media (min-width: 992px) and (max-width: 1199.98px) {
  :root {
    /* ~~~ color ~~~~~ */
    --primary-black: #262626;
    --primary-bg: #d8d8d8;
    --light-gray: #767676;
    --gray: #6d6d6d;
    --nav-footer: #f5f5f3;
    /* ~~~ color ~~~~~ */
    /* ~~~ Font Size ~~~~~ */
    --heading-1: 49px;
    --heading-2: 39px;
    --base-font: 16px;
    --semi-base: 20px;
    --small-font: 14px;
  }
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /*                  Home Page Start              */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  #sale,
  #newArrivals,
  #special,
  #phone,
  footer {
    margin-top: 100px;
  }
  #sale .contant {
    row-gap: 10px;
  }
  #sale .contant {
    padding-left: 20px;
  }
  #newArrivals .nextBtn {
    display: none;
  }
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /*                  Home Page End                */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /*            Contact Page start                 */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  #contact .contactSection {
    margin-top: 60px;
    row-gap: 80px;
  }
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /*            Contact Page end                   */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /*            Login Page Start                   */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  #login .loginContainer {
    row-gap: 50px;
    margin-top: 80px;
  }
  .loginDetails-modify,
  #signUp .signUpDetails-modify {
    width: 75%;
  }
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /*            Login Page end                     */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /*            SignUp Page Start                  */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  #signUp .signUpContainer {
    row-gap: 40px;
    margin-top: 80px;
  }
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /*            SignUp Page end                    */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /*            Account Page Start                  */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  #account .accountContainer,
  #account .accountWrapper {
    margin-top: 80px;
  }
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /*            Account Page end                    */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /*          Error Page Start                     */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  #error {
    padding-top: 100px;
  }
  #error .errorTitle {
    font-size: 180px;
  }
  #error .productiInfo-modiy {
    width: 75%;
  }
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /*            Error Page end                     */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /*          Product Inside Page Start            */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  #productImg {
    padding-top: 100px;
  }
  #productImg .productImgs {
    margin-top: 100px;
  }
  #productImg .productDetailsContainer {
    width: 100%;
  }
  #review {
    padding: 100px 0;
  }
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /*            Product Inside Page end            */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
}
