@media (min-width: 768px) and (max-width: 991.98px) {
  :root {
    /* ~~~ color ~~~~~ */
    --primary-black: #262626;
    --primary-bg: #d8d8d8;
    --light-gray: #767676;
    --gray: #6d6d6d;
    --nav-footer: #f5f5f3;
    /* ~~~ color ~~~~~ */
    /* ~~~ Font Size ~~~~~ */
    --heading-1: 49px;
    --heading-2: 39px;
    --base-font: 16px;
    --semi-base: 20px;
    --small-font: 14px;
  }
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /*                Home Page Start                */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  #sale .contant {
    padding-bottom: 34px;
  }
  #sale,
  #newArrivals,
  #special,
  #phone,
  footer {
    margin-top: 80px;
  }
  #newArrivals .nextBtn {
    display: none;
  }
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /*                  Home Page End                */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /*               About Page Start                */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  #about .aboutSection {
    row-gap: 80px;
  }
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /*               About Page End                  */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /*            Contact Page start                 */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  #contact .contactSection {
    margin-top: 80px;
    row-gap: 80px;
  }
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /*            Contact Page end                   */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
}
